<div class="container-div">
    <form #Loginform2="ngForm" (ngSubmit)="Updatedata(Loginform2.value)">
        <!-- <form #Loginform="ngForm"> -->
        <p class="head">Updatin Project</p>
        <h3 class="head2" style="text-align:center; color: green; font-weight: bolder;" >{{insertedmsg}}</h3>

        <input class="inpt" type="text" placeholder="URL" #urllink="ngModel" name="urllink" ngModel="{{datagetting?.urllink}}" required>
        <span *ngIf="urllink.invalid && urllink.touched" style="color: red;">Enter the Url</span>

        <input class="inpt" type="text" placeholder="AUTHOR" #author="ngModel" name="author" ngModel="{{datagetting?.author}}" required>
        <span *ngIf="author.invalid && author.touched" style="color: red;">Enter the Auther Name</span>

        <button [disabled]="Loginform2.invalid" type="submit" class="btn btn-primary">Submit</button>
        
    </form>

    
</div>
<div class="btn2">
    <button routerLink="/ShowData">Back</button>
</div>